.container { 
    max-width: 940px; 
    margin: 0 auto;
}
@media screen and (max-width: 940px) {
    .container {
        max-width:none;
        margin:0 20px;
    }
}

.app {
    margin: 60px 0 0 0;
}

#button {
    margin: 20px 0 0 0;
}