$mainColor: #013368;
$subColor: #FF99FF;

@media screen and (max-width: 1049px) {
    .container { 
        margin: 0 0 0 40px !important;
        position: static !important;
        -ms-transform: translate(0, 0) !important;
        transform: translate(0, 0) !important;
    }
    #nyancat {
        img {
            position: static !important;
            width: 70% !important;
        }
    }
}

@media screen and (max-width: 630px) {
    #nyancat {
        img {
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 481px) {
    .app {
        width: 300px !important;
    }
    .titleCursor {
        font-size: 18px !important;
    }
    input {
        width: 80% !important;
        height: 40px !important;
        font-size: 28px !important;
    }
    #button {
        button {
            width: 150px !important;
            height: 80px !important;
            font-size: 32px !important;
        }
    }
    #nyancat {
        img {
            width: 100% !important;
        }
    }
}

@font-face {
    font-family: 'Pixellari';
    src: local('Pixellari'), url(./fonts/Pixellari.woff) format('woff');
}

* {
    font-family: Pixellari;
    background-color: $mainColor;
}

h1, h2 {
    color: white;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 30px;
}

input {
    background-color: white;
    color: black;
    border-radius: 5px;
    width: 200px;
    height: 26px;
    font-size: 20px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px $subColor;
}

.container { 
    margin: 0;
    position: absolute;
    top: 40%;
    left: 75%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.app {
    margin: 60px 0 0 0;
    width: 400px;
}

#button {
    margin: 20px 0 0 0;
    
    button {
        width: 100px;
        height: 50px;
        font-size: 18px;
        border-radius: 5px;
        color: black;
        background-color: rgb(231, 231, 231);
        border: none;
        border: 5px solid rgb(92, 92, 92);
    }

    button:hover {
        background-color: rgb(148, 148, 148);
        border: 5px solid rgb(92, 92, 92);
        cursor: pointer;
    }
}

#nyancat {
    img {
        position: absolute;
        top: 15%;
        width: 55%;
        height: auto;
        margin-left: -10px;
    }
} 